<!DOCTYPE html>
{%- liquid
  assign rtl_langs = 'ar,arc,dv,fa,ha,he,khw,ks,ku,ps,ur,yi' | split: ','
  if rtl_langs contains localization.language.iso_code
    assign lang_dir = 'rtl'
  else
    assign lang_dir = 'ltr'
  endif
-%}
<html lang="{{ request.locale.iso_code }}" dir="{{ lang_dir }}">
<head>
  <!-- Symmetry 5.6.0 -->

  <title> 
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% render 'head-tag' %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400&family=IBM+Plex+Sans+Condensed:wght@700&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
  {%- liquid
    assign base_font = settings.type_base_font
    assign base_font_bold = base_font | font_modify: 'weight', 'bolder'
    assign base_font_medium = base_font | font_modify: 'weight', '500'
    assign base_font_italic = base_font | font_modify: 'style', 'italic'
    assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic'
    assign heading_font = settings.type_heading_font
    assign logo_font = settings.type_logo_font
    assign nav_font = settings.type_nav_font
    assign nav_font_600 = nav_font | font_modify: 'weight', '600'
  -%}

  <style>
    {{ base_font | font_face: font_display: 'fallback' }}
    {{ base_font_bold | font_face: font_display: 'fallback' }}
    {{ base_font_medium | font_face: font_display: 'fallback' }}
    {{ base_font_italic | font_face: font_display: 'fallback' }}
    {{ base_font_bold_italic | font_face: font_display: 'fallback' }}
    {{ heading_font | font_face: font_display: 'fallback' }}
    {{ logo_font | font_face: font_display: 'fallback' }}
    {{ nav_font | font_face: font_display: 'fallback' }}
    {{ nav_font_600 | font_face: font_display: 'fallback' }}

    :root{
      --c-secondary: #004289; 
      --c-primary: #70b72b;
      --c-secondary-variant:#032C58;
      --c-primary-variant:#5C9822;
      --_c-orange-primary: #F15A24;
      --c-black:#222222;
      --c-light-variant:#FFFFFF;
      --c-gray:#666666;
      --c-white:#fff;
--c-dark:#333333;
--c-info:#0468DB;
--c-info-variant:#B4D2F4;
--c-danger:#DA394C;
--c-success:#5ECE7B;
--_c-orange-secondary: #F79C7C;
--_c-slate-primary: #404040;
--_c-slate-secondary: #8C8C8C;
--_c-green-primary: #5ece7b;
--_c-green-secondary: #9ee2b0;
--_c-dark-primary: #1d1f22;
--_c-dark-secondary: #43464E;
--_c-gray-primary: #72757E;
--_c-gray-secondary: #8D8F9A;
--_c-gray-accent: #e0e0e1;
--_c-light-primary: #f1f2f3;
--_c-light-secondary: #ffffff;
--_c-red-primary: #d12727;
--_c-red-secondary: #fcede8;
--_c-yellow-primary: #ecc713;
--_c-yellow-secondary: #f6e389;
--_c-blue-primary: #0468DB;
--_c-blue-secondary: #e1f4fe;
--font-2xs: 0.625rem 10px;
--font-xs: 0.75rem 12px;
--font-sm: 0.875rem 14px;
--font-base: 1rem 16px;
--font-lg: 1.125rem 18px;
--font-xl: 1.5rem 24px;
--font-family-primary: 'Nuacht'
    }

 

  </style>


  {% render 'social-meta-tags' %}

  <script src="{{ 'swiper-element.js' |  asset_url }}" defer ></script>

  <script>
    window.theme = window.theme || {};
    theme.money_format_with_product_code_preference = {% if settings.product_currency_code_enabled %}{{ shop.money_with_currency_format | json }}{% else %}{{ shop.money_format | json }}{% endif %};
    theme.money_format_with_cart_code_preference = {% if settings.cart_currency_code_enabled %}{{ shop.money_with_currency_format | json }}{% else %}{{ shop.money_format | json }}{% endif %};
    theme.money_format = {{ shop.money_format | json }};
    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }},
      addressError: {{ 'map.errors.address_error' | t | json }},
      addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
      authError: {{ 'map.errors.auth_error' | t | json }},
      icon_labels_left: {{ 'general.icon_labels.left' | t | escape | json }},
      icon_labels_right: {{ 'general.icon_labels.right' | t | escape | json }},
      icon_labels_down: {{ 'general.icon_labels.down' | t | escape | json }},
      icon_labels_close: {{ 'general.icon_labels.close' | t | escape | json }},
      icon_labels_plus: {{ 'general.icon_labels.plus' | t | escape | json }},
      imageSlider: {{ 'general.slider.images' | t | json }},
      cart_terms_confirmation: {{ 'cart.terms.confirmation' | t | json }},
      products_listing_from: {{ 'products.listing.from' | t | json }},
      layout_live_search_see_all: {{ 'layout.live_search.see_all' | t | json }},
      products_product_add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
      products_variant_no_stock: {{ 'products.variant.no_stock' | t | json }},
      products_variant_non_existent: {{ 'products.variant.non_existent' | t | json }},
      products_product_pick_a: {{ 'products.product.pick_a' | t | json }},
      general_navigation_menu_toggle_aria_label: {{ 'general.navigation.menu_toggle_aria_label' | t | json }},
      general_accessibility_labels_close: {{ 'general.accessibility_labels.close' | t | json }},
      products_product_adding_to_cart: {{ 'products.product.adding_to_cart' | t | json }},
      products_product_added_to_cart: {{ 'products.product.added_to_cart' | t | json }},
      general_quick_search_pages: {{ 'general.quick_search.pages' | t | json }},
      general_quick_search_no_results: {{ 'general.quick_search.no_results' | t | json }},
      collections_general_see_all_subcollections: {{ 'collections.general.see_all_subcollections' | t | json }}
    };
    theme.routes = {
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}.js',
      cart_change_url: '{{ routes.cart_change_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}'
    };
    theme.settings = {
      cart_type: {{ settings.cart_type | json }},
      quickbuy_style: {{ settings.quickbuy_style | json }},
      avoid_orphans: {{ settings.avoid_orphans | json }}
    };
    document.documentElement.classList.add('js');
  </script>

  {% render 'boost-sd-fallback' %}
    {{ content_for_header }}

  {{ 'output.css' | asset_url |  stylesheet_tag }}
 {{ 'custom.css' | asset_url |  stylesheet_tag }}
 {{ 'customizations.css' | asset_url |  stylesheet_tag }}

</head>

<body class="template-{{ template | split: '.' | first | handle }}
    {%- if template.suffix %} template-suffix-{{ template.suffix }}{% endif -%}
    {%- if settings.swatch_enabled %} swatch-method-{{ settings.swatch_method }} swatch-style-{{ settings.swatch_style }}{% endif -%}
    " data-cc-animate-timeout="0">

  {%- if settings.animations_enabled_desktop -%}
    <script>
      if ('IntersectionObserver' in window) {
        document.body.classList.add("cc-animate-enabled");
      }
    </script>
  {%- endif -%}

  <a class="skip-link visually-hidden transition left-0 bg-primary:text-primary:content absolute p-3 m-3 -translate-y-16 focus:translate-y-0" href="#content">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

  {% section 'sf9-announcement-bar' %} 
  {% section 'main-header-area' %}
  {% section 'store-messages' %}
  {% if template.name == 'collection' %}
    {% render 'sf9-banner',title:collection.title %}
  {% endif %}

  <main id="content" role="main">
    <div class="">

      {{ content_for_layout }}

    </div><!-- /.container -->
  </main><!-- /#content -->
{% section 'sf9-footer' %}

</body>
</html>
