<div class="container mx-auto  px-[60px] py-[90px] bg-stone-100 flex-col justify-start items-center gap-[30px] flex" style="background-color: {{ section.settings.color }};">
  {% if section.settings.text_1 != blank %}
    <div class="text-center text-zinc-800 text-sm font-bold font-['IBM Plex Sans Condensed'] uppercase tracking-wide">
      {{ section.settings.text_1 }}
    </div>
  {% endif %}
    
    <div class="text-center text-zinc-800 sm:text-4xl md:text-[66px] font-bold font-['IBM Plex Sans'] uppercase md:leading-[66px]">
      {{ section.settings.text_2 }}
      </div>
    <ul class="max-w-full flex items-center justify-center flex-col md:flex-row">
      {% for block in section.blocks %}
        <div class="flex gap-2.5 flex-col">
            <li class=" w-[60px] h-[60px] relative">
                <div class="w-[60px] h-[60px] left-[-0px] top-[-0px] absolute">
                </div>
            </li>
            <div class="text-center text-zinc-800 text-3xl font-bold font-['IBM Plex Sans'] uppercase">
              {{ block.settings.text_1 }}
            </div>
            <div class="self-stretch text-center text-zinc-800 text-base font-normal font-['IBM Plex Sans'] leading-relaxed">
                {{ block.settings.text_2 }}
            </div>
        </div>
      {% endfor %}
      
    </ul>
    <div class="w-[277px] h-[52px] pl-[92px] pr-[91px] border-2 border-sky-800 justify-center items-center inline-flex">
      <a href="{{ section.settings.url }}"> 
        <div class="text-center text-sky-800 text-sm font-bold font-['IBM Plex Sans Condensed'] uppercase leading-[14px] tracking-wider">
          {{ section.settings.text_3 }}
        </div>
        </a>
    </div>
</div>
{% schema %}
{
  "name": "Our Story",
  "max_blocks": 4,
  "settings": [
    {
      "type":"text",
      "id": "text_1",
      "label":"Small Text",
      "default": "QUISQUE VELIT NISI-"
    },
    {
      "type":"text",
      "id": "text_2",
      "label":"Heading",
      "default": "Pellentesque in ipsum id orci porta dapibus."
    },
    {
      "type":"text",
      "id": "text_3",
      "label":"Button Text",
      "default": "Learn more"
    },
    {
      "type":"url",
      "id": "url",
      "label":"Learn More Link"
    },
    {
      "type": "color",
      "id":"color",
      "label": "Background Color",
      "default": "#F5F6F4"
    }
    
    ],
    "blocks": [
     {
      "type":"text",
      "name":"Info",
      "settings": [
        {
      "type":"text",
      "id": "text_1",
      "label":"Header",
      "default": "We love outdoors"
    },
    {
      "type":"text",
      "id": "text_2",
      "label":"Paragraph",
      "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    }
      ]
     }
    ]
    
}
{% endschema %}