
<div class="favourites-carousel pb-8 mb-14 mt-8">
    <div class="text-center text-sky-800 text-2xl font-bold font-['IBM Plex Sans'] capitalize">Our Favourites</div>
    <ul class="max-w-full border relative">
      <div class="swiper-button-next hidden md:grid absolute left-0 z-10 top-[30%] h-12 w-12 rounded-full bg-white ring  place-items-center bg-red-500">
       <img src="{{ 'Arrow.png' | asset_url }}" alt=""> 
      </div>
      <div class="swiper-button-prev hidden md:grid absolute right-0 z-10 top-[30%] h-12 w-12 rounded-full bg-white ring  place-items-center rotate-180">
        <img src="{{ 'Arrow.png' | asset_url }}" alt="">
       </div>
   <swiper-container
    class="favourites-slider mb-8"  
    space-between="10"
    init="true">
         
            {% for item in section.settings.fav_collection.products limit:12 %}  
                <swiper-slide 
                class="w-[338px] max-h-[600px]">  
                <a href="{{ item.url }}">
                <li class="product-card ">
                    <div class="h-[470.88px]">
                      <img src="{{ item.featured_image | image_url }}" alt="product" loading="lazy" class="max-w-full max-h-full ">
                    </div>
                    <div class=" h-[129.96px] py-[22.59px] flex-col justify-start items-start inline-flex">
    <div class="self-stretch h-[59.79px] flex-col justify-start items-start flex">
        <div class="text-sky-800 text-sm font-bold font-['IBM Plex Sans'] uppercase leading-[17.62px] tracking-wider"> {{ item.title}} </div>
        <div class="self-stretch h-[41.79px] text-sky-800 text-base font-medium font-['IBM Plex Sans'] capitalize leading-tight">
          {{ item.description |  strip_html | truncatewords: 4 }}
        </div>
    </div>
    <div class="justify-start items-start gap-[11.29px] inline-flex">
        <div class="text-red-500 text-sm font-bold font-['Helvetica'] leading-snug">
          {{ item.price | money }}
          </div>
        <div class="text-sky-800 text-base font-normal font-['Helvetica'] line-through leading-relaxed"> {{ item.compare_at_price | money }} </div>
    </div>
</div>
                </li>
                </a>
                </swiper-slide>
            {% endfor %}
    </swiper-container>

    </ul>
</div>

    <script>
  // swiper element
  const swiperEl = document.querySelector('.favourites-slider');
    Object.assign(swiperEl, {
      slidesPerView: 1, 
      centeredSlides:true,
      pagination:true,
      loop:true,
      navigation:false,
    
  breakpoints: { 
    // when window width is >= 320px
    320: {
      slidesPerView: 2,
      spaceBetween: 5, 
      
    },
    // when window width is >= 640px
    768: {
      slidesPerView: 3,
      spaceBetween: 10,  
      navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
   
  },
    },
    1000: {
      slidesPerView: 4,
      spaceBetween: 10
      

      
    },
    1300: {
      slidesPerView: 6,
      spaceBetween: 20
      

      
    },
  }
    
    });
    swiperEl.initialize();

    // swiperEl.initialize();
</script>

{% schema %}
{
  "name": "Collection Slider",
  "settings": [

    {
      "type":"collection",
      "id": "fav_collection",
      "label": "Favourite collection"
      
      
    }

    
    ]
}
{% endschema %}